li.menu a {
            text-decoration:none;
            display:block;
            padding:30px;
            color:black;
            
        }

body{
    margin:0;
}
        ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
			background-color:white;
            padding-left:820px;
            padding-bottom:0px;
           
        }
        li.menu a:hover{
            color:white;
           Background-color:lightslategrey;
        }
        li.menu {
            display: inline-block;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        }
        li.menu a:active{
            color:white;
            background-color:forestgreen;
        }
            img.logo {
    float: left;
    width: 280px;
    height: 81px;
	padding-left:45px;
              }
body {
    background-image: url("Wallpaper2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
